# Dependencies
node_modules/
.yarn/unplugged/
.yarn/cache/
.yarn/install-state.gz

# Build output
dist/
.next/

# Vite cache
.vite/

# Git
.git/
.gitignore

# GitHub metadata
.github/

# OS / editor artifacts
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*
